body { 
  font-family: $graphik; 
  color: $black;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1264px;
  }
}

a { 
  color: $black;
  &:hover { 
    color: $black;
    text-decoration: none;
  }
}

h1 { 
  font-weight: 200;
  font-size: 72px;
  letter-spacing: 0px;
}
h2 { 
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 0px;
  line-height: 40px;
}
h3 { 
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0px;
}
p { 
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 30px;
}

//This removes the gutter from all classes below
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.cover { 
  background-color: $black;
  height: 100vh;
  position: relative;
  margin-top: -73px;
  .cover-content {
    top: 0;
    position: absolute;
    height: 100vh;
    color: $white;
    max-width: 703px;
    /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
    -webkit-align-items : center;
    -moz-box-align : center;
    -ms-flex-align : center;
    align-items : center;  /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
     Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack : center;
    -moz-box-pack : center;
    -ms-flex-pack : center;
    -webkit-justify-content : center;
    justify-content : center;
    h1 { 
      margin-left: 108px;
      margin-bottom: 24px;
    }
    p { 
      margin-left: 108px;
      margin-bottom: 85px;
    }
    a { 
      margin-left: 108px;
      color: $white;
    }
  }
}

header { 
  background-color: transparent;
  position: relative;
  z-index: 2;
  //background-color: $black;
  .container-fluid { 
    max-width: 1350px;
  }
  a {
    color: $white;
  }
  .navbar {
    padding-top: 24px;
    .navbar-nav {
      .nav-item {
        margin-left: 48px;
        font-size: 18px;
      }
    }
    .navbar-toggler {
      color: $white;
    }
  }
  .social {
    padding-top: 10px;
    .nav-item + .nav-item  {
      margin-left: 48px;

    }
  }
}

.btn-play {
  img {
    position: relative;
    top: -1px;
    padding-right: 16px;
  }
}

.page-jump-container {
  position: relative;
  .page-jump  {
    background-color: $primary;
    height: 108px;
    width: 108px;
    line-height: 108px;
    text-align: center;
    position: absolute;
    bottom: 0;
  
    &.invert {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      bottom: 72px
    }
  }
}

.section-head { 
  padding-top: 180px;
  padding-bottom: 180px;
  + .section-head { 
    padding-top: 0;
  }
  h1,p,img {
    margin-left: 110px;
    + img { 
      margin-left: 32px;
    }
  }
  h1, img {
   margin-bottom: 25px; 
  }
  p { 
    max-width: 723px;
  }
}

.article-overview { 
  .row { 
    &:after {
      content: "";
      display: block;
      border-bottom: 1px solid rgba($gray,.15);
      margin: 48px 15px;
      width: 100%;
    }
    &:last-child:after { 
      border: 0;
    }
  }
  //only add the margin to the right side image
  [class*="col-"] {
    //no gutter
    //padding-right:0;
    //padding-left:0;
    &:nth-child(2) {
      img { 
        margin-bottom: 19px;
      }
    }
  }
  h2 {
    margin-bottom: 16px;
  }
  h3 {
    margin-bottom: 29px;
  }
  p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 30px;
  }
}

.gallery-imgs { 
  background-color: $black;
  padding-top: 180px;
  .btn.btn-primary { 
    color: $white;
    border: 0;
    background-color: transparent;
    margin-top: 82px;
    margin-bottom: 82px;
    &:hover { 
      color: $white;
    }
  }
}

.video-section { 
  padding-bottom: 180px;
}

.thumbnail-content { 
  [class*="col-"] {
    position: relative;
    > a {
      width: 360px;
      height: 260px;
      background-color: $white;
      position: absolute;
      padding-left: 40px;
      padding-right: 40px;
      top: 50%;
      transform: translateY(-50%);
      div { 
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img { 
          margin-right: 9px;
        }
        h2 { 
          margin-top: 14px;
        }
      }
    }
  }
}

footer { 
  background-color: $black; 
  padding-top: 180px;
  padding-bottom: 180px;
  color: $white;
  a {
    font-size: 18px;
    color: $white;
  }
  li.sub-menu { 
    list-style: none;
    > span {
      font-size: 18px;
      text-decoration: underline;
      margin-bottom: 10px;
      display: block;
      font-weight: 600;
    }
    ul.sub {
      list-style: none; 
      padding-left: 0;
      li { 
        margin-bottom: 10px;
        a:hover { 
          color: $white;
        }
      }
    }
  }
}