//bootstrap overiddes
$enable-flex: true;

$guardsman_red_approx: #BB0000;
$black: #000000;
$outer_space_approx: #303438;

$graphik: 'Graphik Web';


//color abstraction
$primary: $guardsman_red_approx;
$gray: $outer_space_approx;