<footer class="section footer hidden-print">
  <div class="container page-jump-container">
    <a class="page-jump invert" href="#page-top">
      <img src="{{ "img/arrow-down.png" | relURL }}" class="img-fluid d-inline-block">
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">Link</div>
      <div class="col-sm-2">Link</div>
      <div class="col-sm-2">Link</div>
      <div class="col-sm-2">Link</div>
      <div class="col-sm-2">Link</div>
      <div class="col-sm-2">Link</div>
    </div>
    <div class="row">
    <ul class="sidebar-menu">
          {{ $currentNode := . }}
          {{ range .Site.Data.FooterMenu }}
              {{ if .HasChildren }}

            <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
            <a href="javascript:;" class="">
                {{ .pre }}
                <span>{{ .name }}</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.url}}"> {{ .name }} </a> </li>
                {{ end }}
            </ul>
          {{else}}
            <li>
            <a class="" href="{{.url}}">
                {{ .pre }}
                <span>{{ .name }}</span>
            </a>
          {{end}}
          </li>
          {{end}}
        </ul>
    </div>
  </div>
</footer>