<footer class="section footer hidden-print">
  <div class="container page-jump-container">
    <a class="page-jump invert" href="#page-top">
      <img src="{{ "img/down-arrow.png" | relURL }}" class="img-fluid d-inline-block">
    </a>
  </div>
  <div class="container">
    <div class="row">
      {{ $currentNode := . }}
      {{ range .Site.Menus.footer }}
        {{ if .HasChildren }}
        <div class="col-sm-2">
          <li class="text-xs-center text-sm-left sub-menu{{if $currentNode.HasMenuCurrent "footer" . }} active{{end}}">
            <span class="">{{ .Name }}</span>
            <ul class="sub">
              {{ range .Children }}
              <li{{if $currentNode.IsMenuCurrent "footer" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
              {{ end }}
            </ul>
          {{else}}
          <li>
            <a class="" href="{{.URL}}">
              <span>{{ .Name }}</span>
            </a>
          {{end}}
          </li>
        </div>
      {{end}}
    </div>
  </div>
</footer>