<div class="cover">
  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>Brand</span></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-ex-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--<iframe src="https://player.vimeo.com/video/181236270" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
  <div class="cover-image" style="background-image: url(https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=25&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e);"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <h1 class="text-inverse text-left">I’m Whurley.</h1>
        <p class="text-inverse text-left">I’ve been a systems theorist and open source advocate my entire career. I believe leveraging technology to solve our problems, not just as consumers but as citizens, is the most exciting and noble challenge we face. </p>
        <br>
        <br>
        <a class="btn btn-lg btn-primary">Watch the reel</a>
        <!--opens in a lightbox https://vimeo.com/66428100-->
      </div>
    </div>
  </div>
</div>


<div class="section section-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>digital citizen.</h1>
        <p>Some overview thing about how I attempt to translate my experience and capabilities into solutions where every American can thrive. Greatest challenge of our time etc. etc.</p>
      </div>
    </div>
  </div>
</div>

<div class="section article-overview">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <a href="http://www.statesman.com/news/business/austin-entrepreneur-to-get-ungrounded-on-innovatio/nYFn9/">
          <img src="{{ "whurley-obama.png" | relURL }}" class="img-fluid">
        </a>
      </div>
      <div class="col-md-7 flex-xs-middle">
        <a href="http://www.statesman.com/news/business/austin-entrepreneur-to-get-ungrounded-on-innovatio/nYFn9/">
          <img src="{{ "statesman.png" | relURL }}" class="img-fluid">
          <h3>Statesman, 2009 — Higher education needs a national computing cloud</h3>
          <h2 class="text-primary">Publicly-Funded Cloud Computing to Advance Higher Education</h2>
          <p>Often, I advocate for the democratization or widespread availability of shared technical resources. Here, I wrote President Obama about the need for a publicly-funded national computing cloud to be used by all higher education institutions in the United States as a leveler of the academic playing field.</p>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <a href="http://www.infoworld.com/article/2634968/cloud-computing/higher-education-needs-a-national-computing-cloud.html">
          <img src="{{ "" | relURL }}" class="img-fluid">
        </a>
      </div>
      <div class="col-md-7 flex-xs-middle">
        <a href="http://www.infoworld.com/article/2634968/cloud-computing/higher-education-needs-a-national-computing-cloud.html">
          <img src="{{ "infoworld.png" | relURL }}" class="img-fluid">
          <h3>2013 — Austin entrepreneur to get ‘UnGrounded’ on innovation flight</h3>
          <h2 class="text-primary">UnGrounded: top innovators take 11 hours to tackle global issues</h2>
          <p>I also participate in public events where we strategize ways to shake up the status quo. For instance, I was part of UnGrounded, an 11-hour innovation jam that took place during a Transatlantic flight from Silicon Valley to London. My group focused on strategies for the inclusion and advancement of women in STEM fields.</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <a href="http://www.itu.int/net/pressoffice/press_releases/2016/19.aspx#.V7OSI5MrKRs=">
          <img src="{{ "" | relURL }}" class="img-fluid">
        </a>
      </div>
      <div class="col-md-7 flex-xs-middle">  
        <a href="http://www.itu.int/net/pressoffice/press_releases/2016/19.aspx#.V7OSI5MrKRs=">
          <img src="{{ "itu-logo.png" | relURL }}" class="img-fluid">
          <h3>2016 — ICT start-ups and SMEs to connect the world</h3>
          <h2 class="text-primary">Keynote address on ICT entrepreneurship for social impact</h2>
          <p>On World Telecommunication and Information Society Day, I was invited by the UN’s ITU agency to speak on the how information and communication technologies can address social issues. I encouraged governments to apply better interventions to support the small businesses that play a key role in providing innovative solutions and inclusive access to sustainable economic growth.</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="section gallery-imgs">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-md-3">
        <img src="{{ "10333526_642854709097394_374158199608701715_o.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "12308580_887832687932927_1145756066471408188_n.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "Screen%20Shot%202016-08-19%20at%209.59.43%20PM.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "1398261_570703919645807_2022477890_o.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "1398799_556371104412422_1727611142_o.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "1602096_600388486677350_1003780388_o.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "1013944_510045652378301_1507215722_n.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "420040_317787388270796_961295277_n.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "10333526_642854709097394_374158199608701715_o.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "12308580_887832687932927_1145756066471408188_n.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "Screen%20Shot%202016-08-19%20at%209.59.43%20PM.png" | relURL }}" class="img-fluid">
      </div>
      <div class="col-md-3">
        <img src="{{ "1398261_570703919645807_2022477890_o.png" | relURL }}" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-xs-center">
        <a class="btn btn-primary">see more</a>
      </div>
    </div>
  </div>
</div>

<div class="section section-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>speaker + author</h1>
        <p>Creating software and systems designed to make people’s lives better is only part of what I’m about, though. It’s important to evangelize on these issues.I’ve spoken at several TEDx events, on topics from security to the omnipresence of what used to be called the future and is now just called the way we live. And most of the time, when speaking, I’ll be wearing pants.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-fluid">
        <p>
          <span><img src="{{ "img/btn-play-black.png" | relURL }}" class="img-fluid">Watch</span>
          How digital privacy affects our lives
        </p>
      </div>
      <div class="col-md-6">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-fluid">
        <p>
          <span><img src="{{ "img/btn-play-black.png" | relURL }}" class="img-fluid">Watch</span>
          Manufacturing awesomeness & imagination
        </p>
      </div>
      <div class="col-md-6">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-fluid">
        <p>
          <span><img src="{{ "img/btn-play-black.png" | relURL }}" class="img-fluid">Watch</span>
          Who's Next: William 'whurley' Hurley
        </p>
      </div>
      <div class="col-md-6">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" class="img-fluid">
        <p>
          <span><img src="{{ "img/btn-play-black.png" | relURL }}" class="img-fluid">Watch</span>
          ITU keynote: enable everyone to innovate
        </p>
      </div>
    </div>
  </div>
</div>

<div class="section section-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>entrepreneur + innovator</h1>
        <p>I’ve made Austin my home since 1994 and have seen and helped the city transform into a hub for tech innovation. After my time here with Apple R&D and again as an IBM Master Inventor, I chose to start my businesses here, fostering dynamic communities with companies like Chaotic Moon Studios and Honest Dollar. </p>
        <div>
          <img src="{{ "Icon — IBM.png" | relURL }}" class="img-fluid d-inline">
          <img src="{{ "Icon — Apple.png" | relURL }}" class="img-fluid d-inline">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <img src="" class="img-fluid">
        </h1>
        <p>At Chaotic Moon Labs, the innovation and R&D branch of Chaotic Moon, I oversaw the creation of some truly groundbreaking products--”the Board of Awesomeness”, “the Board of Imagination”, “the Helmet of Justice”, and “the Smarter Cart.” Sure, these kinds of inventions get publicity. But underneath, there’s a real potential for these kinds of innovations to improve the lives of everyday citizens--imagine enabled devices that can help people of all backgrounds navigate healthy shopping choices, or tools that communicate with first responders accurately and fairly. Here’s some of these creations in action:</p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ "" | relURL }}" class="img-fluid">
        <img src="{{ "" | relURL }}" class="img-fluid">
        <p>The Board of Imagination</p>
        <!--<https://vimeo.com/54554532>-->
      </div>
      <div class="col-md-6">
        <img src="{{ "" | relURL }}" class="img-fluid">
        <img src="{{ "" | relURL }}" class="img-fluid">
        <p>The Board of Awesomeness</p>
        <!--https://vimeo.com/54551669-->
      </div>
      <div class="col-md-6">
        <img src="{{ "" | relURL }}" class="img-fluid">
        <img src="{{ "" | relURL }}" class="img-fluid">
        <p>The Smarter Shopping Cart</p>
        <!--<https://vimeo.com/149982207>-->
      </div>
    </div>
  </div>
</div>

<div class="section section-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="{{ "Logo — Honest Dollar.png" | relURL }}" class="img-fluid">
        <p>We tackled a pressing national issue; the ability of self-employed workers and small businesses to save for retirement. The way we work is evolving faster than our retirement plans, so we gave people the information and tools to take retirement savings into their own hands - no matter where or how they work. </p>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/i__1Z5a9Sak" allowfullscreen=""></iframe>
          <!--https://vimeo.com/159947529-->
        </div>
      </div>
    </div>
  </div>
</div>